---
title: "Presentations"
description: "This is the description"
layout: base.njk
og_type: website
eleventyNavigation:
  key: Presentations
  order: 3
pagination:
  data: collections.presentation
  size: 20
  alias: posts
---
{% include "_layouts/postlist.njk" %}
